[submodule "DockPanelSuite"]
	path = DockPanelSuite
	url = https://github.com/RadarNyan/dockpanelsuite.git
[submodule "SwfExtractor"]
	path = SwfExtractor
	url = https://github.com/andanteyk/SwfExtractor.git
[submodule "EOBrowser-ML"]
	path = EOBrowser-ML
	url = https://github.com/RadarNyan/EOBrowser-ML
